<center><h2 class='dashboard'>SSF Dashboard</h2></center>
<div class='row'>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Dati Bambini</h3>
		</div>
	<div class="panel-body">
		
			<ul>
	<h4>Totale Bambini: <%= @bambini  %></h4>
	<h4>Numero Inseriti: <span class='data'><%= @inseriti  %></span></h4>
	<h4>Numero Segnalati: <%= @segnalati  %></h4>
	<h4>Numero Drop: <%= @drop  %></h4>
	<h4>Discipline sportive: <%= @discipline  %></h4></td>
	<h4>Totale Nazionalità: <%= @nazionalità  %></h4>
			</ul>	
		
	</div>
	</div>
	</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Bambini per Coordinatore</h3>
		</div>
	<div class="panel-body">
	<ul>
	<h4>Bambini Michele: <%= @bambiniMichele %></h4>
	<h4>Bambini Federico: <%= @bambiniFederico %></h4>
	<h4>Bambini Geralda: <%= @bambiniGeralda %></h4>
	<h4>Bambini Carola: <%= @bambiniCarola %></h4>
	<h4>Bambini Erika: <%= @bambiniErika %></h4>
	<h4>Bambini Valeria: <%= @bambiniValeria %></h4>
	<h4>Senza tutor: <%= @senzatutor %></h4>
	</ul>
</div>
</div>
</div>
<div class="col-md-4">
	<div class="panel panel-default">
		<div class="panel-heading">
			<h3 class="panel-title">Risorse progetto</h3>
		</div>
	<div class="panel-body">
	<ul>
		<h4>Totale Coordinatori: <%= @coordinatori  %></h4>
		<h4>Totale Tutor: <%= @tutors  %></h4>
		<h4>Totale Allenatori: <%= @allenatori %></h4>
		<h4>Totale Associazioni <%= @associazioni %></h4>
		<h4>Totale Segnalatori <%= @segnalatori %></h4>
	</ul>
</div>
</div>
</div>
</div>