
<%= bootstrap_form_for(@disciplina) do |f| %>
  <% if @disciplina.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@disciplina.errors.count, "error") %> prohibited this disciplina from being saved:</h2>

      <ul>
      <% @disciplina.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="fieldDisciplina">
   
    <%= f.text_field :disciplina_sportiva %>
  </div>
  <div class="actions">
    <%= f.submit 'Aggiungi disciplina', class: "btn btn-primary" %>
  </div>
<% end %>
