<center>
		<div class='row'>
		  <div class="col-md-4 col-md-offset-4">
		<h1>Nuova Disciplina</h1>

		<%= render 'form' %>

		<h4><%= link_to 'Vai a discipline', disciplinas_path %></h4>
		</div>
		</div>
</center>