<p id="notice"><%= notice %></p>

<p>
  <strong>Disciplina sportiva:</strong>
  <%= @disciplina.disciplina_sportiva %>
</p>

<%= link_to 'Edit', edit_disciplina_path(@disciplina) %> |
<%= link_to 'Back', disciplinas_path %>
