<%= bootstrap_form_for(@segnalatore) do |f| %>
  <% if @segnalatore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@segnalatore.errors.count, "error") %> prohibited this segnalatore from being saved:</h2>

      <ul>
      <% @segnalatore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    
    <%= f.text_field :ente %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :referente %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :città %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :telefono %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    <%= f.submit 'Aggiungi Segnalatore', class: 'btn btn-primary'%>
    
  </div>
<% end %>
