<p id="notice"><%= notice %></p>

<h1>Enti Segnalatori SSF</h1>

<table class="table table-hover"> 
  <thead>
    <tr>
      <th>Ente</th>
      <th>Referente</th>
      <th>Città</th>
      <th>Telefono</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @segnalatores.each do |segnalatore| %>
      <tr>
        <td><%= segnalatore.ente %></td>
        <td><%= segnalatore.referente %></td>
        <td><%= segnalatore.città %></td>
        <td><%= segnalatore.telefono %></td>
        <td><%= segnalatore.email %></td>
        <td><%= link_to 'Show', segnalatore %></td>
        <td><%= link_to 'Modifica', edit_segnalatore_path(segnalatore) %></td>
        <td><%= link_to 'Destroy', segnalatore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuovo Segnalatore', new_segnalatore_path %>
