

<center>
	<div class="row">
		<div class="col-md-5 col-md-offset-3">
			<h1>Aggiungi Ente Segnalatore</h1>

			<%= render 'form' %>

			<%= link_to 'Lista Segnalatori', segnalatores_path %>

		</div>	
	</div>
</center>