<p id="notice"><%= notice %></p>

<p>
  <strong>Ente:</strong>
  <%= @segnalatore.ente %>
</p>
<p>
  <strong>Ente:</strong>
  <%= @segnalatore.referente %>
</p>
<p>
  <strong>Ente:</strong>
  <%= @segnalatore.città %>
</p>
<p>
  <strong>Ente:</strong>
  <%= @segnalatore.telefono %>
</p>
<p>
  <strong>Ente:</strong>
  <%= @segnalatore.email %>
</p>
<%= link_to 'Modifica', edit_segnalatore_path(@segnalatore) %> |
<%= link_to 'Back', segnalatores_path %>
