<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @tutor.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @tutor.cognome %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @tutor.email %>
</p>

<p>
  <strong>Luogo di nascita:</strong>
  <%= @tutor.telefono %>
</p>


<%= link_to 'Edit', edit_tutor_path(@tutor) %> |
<%= link_to 'Back', tutors_path %>
