<%= bootstrap_form_for(@associazione) do |f| %>
  <% if @associazione.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@associazione.errors.count, "error") %> prohibited this associazione from being saved:</h2>

      <ul>
      <% @associazione.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.text_field :ragione_sociale %>
  </div>
  <div class="field">
    
    <%= f.text_field :indirizzo %>
  </div>
  <div class="field">
 
    <%= f.text_field :città %>
  </div>
 <div class="field">
 
    <%= f.check_box :manifesto %>
  </div>
  <div class="actions">
    <%= f.submit 'Aggiungi associazione', class: 'btn btn-primary' %>
  </div>
<% end %>
