<p id="notice"><%= notice %></p>

<h1>Associazioni SSF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Ragione sociale</th>
      <th>Indirizzo</th>
      <th>Città</th>
      <th>Manifesto</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @associaziones.each do |associazione| %>
      <tr>
        <td><%= associazione.ragione_sociale %></td>
        <td><%= associazione.indirizzo %></td>
        <td><%= associazione.città %></td>
        <% if associazione.manifesto %>
        <td>SI</td>
        <% else %>
        <td>NO</td>
        <% end %>
        <td><%= link_to 'Show', associazione %></td>
        <td><%= link_to 'Edit', edit_associazione_path(associazione) %></td>
        <td><%= link_to 'Destroy', associazione, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi associazione', new_associazione_path %>
