<center>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
<h1>Nuova Associazione</h1>

<%= render 'form' %>

<%= link_to 'Elenco associazioni', associaziones_path %>
		</div>
	</div>
</center>