<p id="notice"><%= notice %></p>

<p>
  <strong>Ragione sociale:</strong>
  <%= @associazione.ragione_sociale %>
</p>

<p>
  <strong>Indirizzo:</strong>
  <%= @associazione.indirizzo %>
</p>

<p>
  <strong>Città:</strong>
  <%= @associazione.città %>
</p>

<p>
  <strong>Città:</strong>
  <%= @associazione.manifesto %>
</p>

<%= link_to 'Edit', edit_associazione_path(@associazione) %> |
<%= link_to 'Back', associaziones_path %>
