



<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h2 id='loginPage'>Login Page</h2>
		<%= bootstrap_form_tag url: '/attempt_login' do |f| %>
		  <%= f.text_field :username %>
		  <%= f.password_field :password %>
		  <%= f.submit 'Log in', class: 'btn btn-success' %>
		<% end %>

	</div>
</div>