


<div class="text-center">

<ul>
	<h1 id='homeTitle'>SSF BASE</h1>

<h3><%= link_to 'Aggiungi bambino', bambinos_path %></h3>
<h3><%= link_to 'Aggiungi associazione', associaziones_path %></h3>
<h3><%= link_to 'Aggiungi disciplina', disciplinas_path %></h3>
<h3><%= link_to 'Aggiungi coordinatore', coordinatores_path %></h3>
<h3><%= link_to 'Aggiungi tutor', tutors_path %></h3>
<h3><%= link_to 'Aggiungi allenatore', allenatores_path %></h3>
<h3><%= link_to 'Aggiungi segnalatore', segnalatores_path %></h3>

<h3><%= link_to 'Vai al dashboard', dashboard_path, :class => 'dashTag' %></h3>

<h3><%= link_to 'Log out', logout_path , :class => 'logoutTag' %></h3>

</ul>
</div>