// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.logoutTag{
	color: green;
}

#homeTitle{
	color: red;
}

.dashTag{
	color: orange;
}