<%= bootstrap_form_for(@allenatore) do |f| %>
  <% if @allenatore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@allenatore.errors.count, "error") %> prohibited this allenatore from being saved:</h2>

      <ul>
      <% @allenatore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
   
    <%= f.text_field :nome %>
  </div>
  <div class="field">
    
    <%= f.text_field :cognome %>
  </div>
  <div class="field">
    
    <%= f.text_field :telefono %>
  </div>
  <div class="field">
   
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.collection_select( :associazione_id, Associazione.all, :id, :ragione_sociale, {}, {:multiple => false}) %>
  </div>
  <div class="actions">
    <%= f.submit 'Aggiungi allenatore', class: 'btn btn-primary' %>
  </div>
<% end %>
