<p id="notice"><%= notice %></p>

<h1>Allenatori SSF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Telefono</th>
      <th>Email</th>
      <th>Associazione</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @allenatores.each do |allenatore| %>
      <tr>
        <td><%= allenatore.nome %></td>
        <td><%= allenatore.cognome %></td>
        <td><%= allenatore.telefono %></td>
        <td><%= allenatore.email %></td>
        <td><%= allenatore.associazione.ragione_sociale %></td>
        <td><%= link_to 'Show', allenatore %></td>
        <td><%= link_to 'Edit', edit_allenatore_path(allenatore) %></td>
        <td><%= link_to 'Destroy', allenatore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi allenatore', new_allenatore_path %>
