<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @allenatore.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @allenatore.cognome %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @allenatore.telefono %>
</p>

<p>
  <strong>Email:</strong>
  <%= @allenatore.email %>
</p>

<p>
  <strong>Associazione:</strong>
  <%= @allenatore.associazione.ragione_sociale %>
</p>

<%= link_to 'Edit', edit_allenatore_path(@allenatore) %> |
<%= link_to 'Back', allenatores_path %>
