<%= bootstrap_form_for @coordinatore, :html => {class: 'form'} do |f| %>
  <% if @coordinatore.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tutor.errors.count, "error") %> prohibited this tutor from being saved:</h2>

      <ul>
      <% @coordinatore.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
<div class="form-group">
    
    <%= f.text_field :nome %>
  </div>
  <div class="form-group">
   
    <%= f.text_field :cognome %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :email %>
  </div>
  <div class="form-group">
    
    <%= f.text_field :telefono %>
  </div>
  <div class="form-group">
    <%= f.submit 'Aggiungi Coordinatore', class: 'btn btn-primary'%>
  </div>
<% end %>