


<p id="notice"><%= notice %></p>

<h1>Coordinatori SSF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Email</th>
      <th>Telefono</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @coordinatores.each do |coordinatore| %>
      <tr>
        <td><%= coordinatore.nome %></td>
        <td><%= coordinatore.cognome %></td>
        <td><%= coordinatore.email %></td>
        <td><%= coordinatore.telefono %></td>
        <td><%= link_to 'Show', coordinatore %></td>
        <td><%= link_to 'Edit', edit_coordinatore_path(coordinatore) %></td>
        <td><%= link_to 'Destroy', coordinatore, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi coordinatore', new_coordinatore_path %>
