

<center>
	<div class="row">
		<div class="col-md-4 col-md-offset-4">
			<h1>Aggiungi Coordinatore</h1>

			<%= render 'form' %>

			<%= link_to 'Lista Coordinatori', coordinatores_path %>

		</div>	
	</div>
</cente