
<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @coordinatore.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @coordinatore.cognome %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @coordinatore.email %>
</p>

<p>
  <strong>Luogo di nascita:</strong>
  <%= @coordinatore.telefono %>
</p>


<%= link_to 'Edit', edit_coordinatore_path(@coordinatore) %> |
<%= link_to 'Back', coordinatores_path %>
