
<%= bootstrap_form_for(@bambino)  do |f| %>
  <% if @bambino.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@bambino.errors.count, "error") %> prohibited this bambino from being saved:</h2>

      <ul>
      <% @bambino.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
 
  
    <div class="row">
    <div class="col-md-3">
    <%= f.text_field :nome %>
  
    <%= f.text_field :cognome %>

    <%= f.date_select :data_di_nascita, :start_year => 1995  %>
    <%= f.select(:genere, options_for_select([
      ['M','M'],
      ['F','F']
      ]),
      selected: f.object.genere
      ) %>

    <%= f.text_field :luogo_di_nascita %>

    <%= f.select(:status,
     options_for_select([
      ['segnalato','segnalato'],
      ['inserito','inserito'],
      ['drop','drop'],
      ['concluso','concluso']
      ]),
      selected: f.object.status
      ) %>
    <%= f.select(:situazione_abitativa, options_for_select([
      ['affitto','affitto'],
      ['occupazione','occupazione'],
      ['casa popolare','casa popolare'],
      ['casa di proprietà','casa di proprietà'],
      ['centro di accoglienza', 'centro di accoglienza'],
      ['casa famiglia','casa famiglia']
      ]),
      selected: f.object.situazione_abitativa
      ) %>

    </div>
    <div class="col-md-3">

    <%= f.text_field :cittadinanza %> 
    <p>(Inserire paese. Es: Italia, no italiano)</p>
    <%= f.text_field :disciplina %>
  
    <%= f.collection_select( :associazione_id, Associazione.all, :id, :ragione_sociale, {}, {:multiple => false}) %>

    <%= f.collection_select( :coordinatore_id, Coordinatore.all, :id, :cognome, {:include_blank => true}, {:multiple => false}) %>
    
    <%= f.collection_select( :tutor_id, Tutor.all, :id, :cognome, {:include_blank => true}, {:multiple => false }) %>

    <%= f.collection_select( :allenatore_id, Allenatore.all, :id, :cognome, {:include_blank => true}, {:multiple => false}) %>
    
    </div>
    <div class="col-md-3">
       <%= f.text_field :nome_madre %>
       <%= f.text_field :cognome_madre %>
       <%= f.text_field :nome_padre %>
       <%= f.text_field :cognome_padre %>
       <%= f.date_select :data_inserimento, :start_year => 2011  %>
       <%= f.date_select :fine_inserimento, {:include_blank => true, :default => nil} %>
    </div>
    <div class="col-md-3">
       <%= f.text_field :riferimento_telefonico %>
      <%= f.collection_select( :segnalatore_id, Segnalatore.all, :id, :ente, {:include_blank => true}, {:multiple => false}) %>
    </div>
    </div>
    <div class="text-center">
    <%= f.submit 'Aggiungi bambino', class: "btn btn-lg btn-primary" %>
    </div>

  <% end %>
  
