<p id="notice"><%= notice %></p>

<h1>Bambini SSF</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cognome</th>
      <th>Data di nascita</th>
      <th>Luogo di nascita</th>
      <th>Status</th>
      <th>Cittadinanza</th>
      <th>Disciplina</th>
      <th>Associazione</th>
      <th>Coordinatore</th>
      <th>Tutor</th>
      <th>Data inserimento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bambinos.each do |bambino| %>
      <tr>
        <td><%= bambino.nome %></td>
        <td><%= bambino.cognome %></td>
        <td><%= bambino.data_di_nascita.strftime('%d-%m-%Y') %></td>
        <td><%= bambino.luogo_di_nascita %></td>
        <td><%= bambino.status %></td>
        <td><%= bambino.cittadinanza %></td>
        <td><%= bambino.disciplina %></td>
         <td><%= bambino.associazione.ragione_sociale %></td>
        <td><%= bambino.coordinatore.try(:cognome).blank? ? 'N/A' : bambino.coordinatore.cognome %></td>
         <td><%= bambino.tutor.try(:cognome).blank? ? 'N/A' : bambino.tutor.cognome %></td>
        <td><%= bambino.data_inserimento %></td>
        <td><%= link_to 'Show', bambino %></td>
        <td><%= link_to 'Edit', edit_bambino_path(bambino) %></td>
        <td><%= link_to 'Destroy', bambino, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Aggiungi Bambino', new_bambino_path %>
