
<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-md-4 col-md-offset-4">
<p>
  <strong>Nome:</strong>
  <%= @bambino.nome %>
</p>

<p>
  <strong>Cognome:</strong>
  <%= @bambino.cognome %>
</p>
<p>
  <strong>Genere:</strong>
  <%= @bambino.genere %>
</p>

<p>
  <strong>Data di nascita:</strong>
  <%= @bambino.data_di_nascita %>
</p>

<p>
  <strong>Luogo di nascita:</strong>
  <%= @bambino.luogo_di_nascita %>
</p>

<p>
  <strong>Status:</strong>
  <%= @bambino.status %>
</p>

<p>
  <strong>Cittadinanza:</strong>
  <%= @bambino.cittadinanza %>
</p>

<p>
  <strong>Disciplina:</strong>
  <%= @bambino.disciplina %>
</p>

<p>
  <strong>Associazione:</strong>
  <%= @bambino.associazione.ragione_sociale %>
</p>
<p>
  <strong>Coordinatore:</strong>
  <%= @bambino.coordinatore_id %>
</p>
<p>
  <strong>Tutor:</strong>
  <%= @bambino.tutor.cognome %>
</p>
<p>
  <strong>Data Inserimento:</strong>
  <%= @bambino.data_inserimento %>
</p>
<p>
  <strong>Situazione abitativa:</strong>
  <%= @bambino.situazione_abitativa %>
</p>
<p>
  <strong>Nome madre:</strong>
  <%= @bambino.nome_madre %>
</p>
<p>
  <strong>Cognome madre:</strong>
  <%= @bambino.cognome_madre %>
</p>
<p>
  <strong>Nome padre:</strong>
  <%= @bambino.nome_padre %>
</p>
<p>
  <strong>Cognome padre:</strong>
  <%= @bambino.cognome_padre %>
</p>
<p>
  <strong>Ente segnalatore:</strong>
  <%= @bambino.segnalatore.ente %>
</p>

<%= link_to 'Edit', edit_bambino_path(@bambino) %> |
<%= link_to 'Back', bambinos_path %>
</div>
</div>