<!DOCTYPE html>
<html>
<head>
  <title>SSF Base</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
	<ul class="nav nav-tabs">
		  <li role="presentation" class="active"><%= link_to 'Menu', home_path %></li>
		  <li role="presentation"><%= link_to 'Dashboard', dashboard_path %></li>
		 
		  <li role="presentation"><%= link_to 'Bambini', bambinos_path %></li>
		  <li role="presentation"><%= link_to 'Associazioni', associaziones_path %></li>
		   <li role="presentation"><%= link_to 'Discipline', disciplinas_path %></li>
		   <li role="presentation"><%= link_to 'Coordinatori', coordinatores_path %></li>
		  <li role="presentation"><%= link_to 'Tutors', tutors_path %></li>
		  <li role="presentation"><%= link_to 'Allenatori', allenatores_path %></li>
		 <li role="presentation"><%= link_to 'Segnalatori', segnalatores_path %></li>
	</ul>
	<% if !flash[:notice].blank? %>
	  <div class='notice'>
	  	<%= flash[:notice]  %>
	  </div>
	<% end %>

	
<%= yield %>
</div>
</body>
</html>
